<div class="blog-container">
  <div class="blog-post-list">
    <etalytics-blog-post-list
      [blogPosts]="blogPosts$ | async"
      (selected)="selectBlogPost($event)"
      (deleted)="deleteBlogPost($event)"
      (viewDetail)="viewBlogPostDetail($event)"
    >
    </etalytics-blog-post-list>
  </div>
  <div class="create-blog-post">
    <etalytics-create-blog-post
      [blogPost]="currentBlogPost"
      [users]="users$"
      (saved)="saveBlogPost($event)"
      (cancelled)="resetCurrentBlogPost()"
    >
    </etalytics-create-blog-post>
  </div>
</div>
