etalytics-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

etalytics-header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

@media (max-width: 720px) {
  etalytics-root {
    top: 92px;
  }
}
