<mat-card>
  <mat-card-header>
    <mat-card-title> <h1>Blog Posts</h1> </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let post of blogPosts" (click)="selected.emit(post)" class="record">
        <h3 mat-line>#{{ post.id }} {{ post.title }}</h3>
        <p mat-line>{{ post.body }}</p>
        <button mat-icon-button (click)="deleted.emit(post); $event.stopImmediatePropagation()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
