.comment-card {
  padding: 20px;
  width: 30%;
}

// .number-Circle {
//   width: 120px;
//   line-height: 120px;
//   border-radius: 50%;
//   text-align: center;
//   font-size: 32px;
//   border: 2px solid #666;
// }

.example-header-image {
  background-image: url('/assets/images/face.png');
  background-size: cover;
}

.user-comment {
  font-size: 16px;
  font-style: italic;
  padding: 12px;
}

.example-card {
  background-color: aliceblue;
  margin-top: 10px;
  margin-bottom: 10px;
}
