<!-- <div class="comment-card" *ngFor="let comment of comments">
  <mat-card>
    <mat-card-content>{{ comment.body }}</mat-card-content>
    <mat-card-subtitle> {{ comment.name }} </mat-card-subtitle>
    <mat-card-footer> {{ comment.email }} </mat-card-footer>
  </mat-card>
</div> -->

<mat-card class="view-comments-container">
  <mat-card-header>
    <mat-card-title> <h1>Comments List</h1> </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <!-- <mat-list-item class="" *ngFor="let comment of comments">
        <mat-card-content>{{ comment.body }}</mat-card-content>
        <mat-card-subtitle> {{ comment.name }} </mat-card-subtitle>
        <mat-card-footer> {{ comment.email }} </mat-card-footer>
      </mat-list-item> -->
      <div class="" *ngFor="let comment of comments">
        <mat-card class="example-card">
          <mat-card-header class="example-head">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ comment.name }}</mat-card-title>
            <mat-card-subtitle>{{ comment.email }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p class="user-comment">
              <q>{{ comment.body }}</q>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-list>
  </mat-card-content>
</mat-card>
